body {
    font-family: 'Andale Mono', monospace;
	background-image: url('https://c.tenor.com/fputHj4ejZ0AAAAC/stars-space.gif');
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e05f0f;
	text-shadow:
    0 0 7px rgb(240, 119, 32),
    0 0 10px rgb(240, 119, 32),
    0 0 21px rgb(240, 119, 32),
    0 0 45px rgb(240, 119, 32),
    0 0 90px rgb(240, 119, 32),
    0 0 101px rgb(240, 119, 32),
    0 0 150px rgb(255, 255, 255),
    0 0 200px rgb(255, 255, 255);
    font-size: 72px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: bold;
    text-align:start;

}


 

/* a { 
    text-decoration: none;
    color: white;
 }

 a:hover{
    color: rgb(0, 0, 0);

 } */

button {
    background-color: #e05f0f;
	font-family: 'Andale Mono', monospace;
	font-size:36px;
	box-shadow: inset 50px 50px  #ec8240;
    border-radius: 50%;
    height: 300px;
    margin-right: 15px;
	margin-left:15px;
	margin-top:15px;
	margin-bottom:15px;
    color: white;
	transition: transform .7s ease-in-out;
	
}
button:hover{
	box-shadow: none;
	color:rgb(255, 255, 255);
	transform: rotate(360deg);
	text-shadow:
    0 0 7px rgb(240, 119, 32),
    0 0 10px rgb(240, 119, 32),
    0 0 21px rgb(240, 119, 32),
    0 0 45px rgb(240, 119, 32),
    0 0 90px rgb(240, 119, 32),
    0 0 101px rgb(240, 119, 32),
    0 0 150px rgb(255, 255, 255),
    0 0 200px rgb(255, 255, 255);
	background-color:#e84f07;
   background-image: url("http://www.clker.com/cliparts/b/6/U/f/U/n/orange-slice-hi.png");
   background-size:cover;
	

}
.btn-group{
    display: flex;
    justify-content: center;
    color: #1F2937;
}
.btn-group2{
    display: flex;
    justify-content: center;
}
.btn-group3{
    display: flex;
    justify-content: center;
}
.btn-group4{
    display: flex;
    justify-content: center;
}



.container {
	width: 200px;
	height: 100px;
	padding-top: 100px;
	margin: 0 auto;
}

.cutie {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  top: 50%;
  left: 50%;
}
.cutie_stem{
	width: 0px;
	height: 0px;
	border-radius: 0 50% 0 50%; /*leaf shape*/
	margin: auto;
	border: 11px solid #5c9721;
	transform: rotate(180deg);
	border-left-color: #7ac654;
	border-bottom-color: #7ac654;
    top: 50%;
    left: 50%;

  }


/* set 1*/
.cutie:nth-child(1) {
	background-color: #e05f0f;
 	box-shadow: inset 8px 8px  #ec8240;
 	position: absolute;
  	top:330px; /*positioning*/
	animation: right 2s infinite ease-in-out;
}
.cutie_stem:nth-child(2) {
	position: absolute;
	top: 316px; /* positioning*/
	animation: right 2s infinite ease-in-out;
}
/*end set 1*/




@keyframes right {
	0% {transform: translate(-100px);}
	50% {transform: translate(100px);}
	100% {transform: translate(-100px);}
}

@keyframes left {
	0%{transform: translate(-20px);}
	50%{transform:translate(20px);}
	100%{transform:translate(-20px);}
}